### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### server ###
.gradle
**/out/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
src/main/generated
logs
api/src/main/resources/static/docs

### etc ###
firebase-**.json